#novedades {
  overflow: auto;
  white-space: nowrap;
}

#recomendaciones {
  overflow: auto;
  white-space: nowrap;
}

#clasicas {
  overflow: auto;
  white-space: nowrap;
}

#populares {
  overflow: auto;
  white-space: nowrap;
}

#tendencias {
  overflow: auto;
  white-space: nowrap;
}

#maraton {
  overflow: auto;
  white-space: nowrap;
}

#welcome-img {
  padding-top: 60px;
}
#boton {
  padding-bottom: 25px;
  padding-top: 25px;
  justify-content: center;
  display: flex;
  align-items: center;
}
#catalogue {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 6rem;
}
#catalogue a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagenes {
  max-height: 300px;
  padding: 0 5px;
}
#welcome-img {
  margin: 0;
  padding: 0;
}
h3 {
  padding-top: 10px;
}
@media only screen and (max-width: 1000px) {
  .imagenes {
    max-height: 200px;
  }
}
@media only screen and (max-width: 600px) {
  .imagenes {
    max-height: 100px;
  }
}
